font-face{
    font-family: "MyFont";
    src: url("fonts/font.ttf");
}

/* Google Font */
body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: "MyFont";
    font-size: 36px;
}

.text {
    font-size: 18px;
}

.icons i {
    font-size: 30px;
    margin: 10px;
    color: blue;
}
